.bth{
    color: #fff;
    background: #87CEFF;
    margin-bottom: 10rpx;
    padding-left: 15rpx;
    border: none;
    border-radius: 2rpx;
    font-size: 16rpx;
    line-height: 40rpx;
    height: 40rpx;
    width: 100%;
}
.btn:active{
    background: #6495ED;
}
.text-primary{
    color: #87CEFF;
}
.text-red{
    color: #FF0000;
}
.text-footer{
    font-size: 14px;
    line-height: 30px;
    color: #777;
    text-align: center;
}